<a href="https://colab.research.google.com/github/Roshani9989/airbnb-data-analysis/blob/main/Roshani_Airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

#Motivation


*   Millions of listings are genreared world widely each year and nearly half a million of guests checked in perday.
*   Analyzing these data facilites security improvement, business decisions making, understanding of guest's and host's beahaviour and performance on the platform, guiding marketing initiatives, implemention of innovative additional services and more.

In [1]:
# Imprting all the library and module that we are going to use
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:

#Mounting the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Dataset

In [6]:
#Creating Directory Path(dir_path)
dir_path ='/content/drive/MyDrive/Colab Notebooks/Almabetter/Team Capstone Projects/Exploratory Data Analysis/'
#Reading Csv file and Creating data frame(df)
df = pd.read_csv(dir_path + 'Airbnb data NYC 2019.csv')

In [7]:
# Finding the the numbers of rows(entries) and columns(faetues)
df.shape

(48895, 16)

In [8]:
# Taking look on columns(faetues)
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [9]:
# Finding the datatype(Dtype) of columns(faetues)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

#Summary statastics Of Dataset

In [10]:
#Summary Statastics
df.describe()

                 id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   1.901714e+07  ...        112.781327
std    1.098311e+07  ...        131.622289
min    2.539000e+03  ...          0.000000
25%    9.471945e+06  ...          0.000000
50%    1.967728e+07  ...         45.000000
75%    2.915218e+07  ...        227.000000
max    3.648724e+07  ...        365.000000

[8 rows x 10 columns]

In [11]:
#Taking a look on Dataset
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [12]:
#Taking a look on Dataset
df.tail()

             id  ... availability_365
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[5 rows x 16 columns]

#Cleaning of dataset

In [13]:
#Finding the null values in the dataset
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64



*   As we can see in the above cell that many attributes have a lot of null values and some are not useful for analysis
*   Droping unecessary attributes which are not relevent: host name and last_review

In [14]:
# Dropping the droping the unrelevent column
df.drop(columns=['host_name', 'last_review'], axis=1, inplace=True)

In [15]:
# Replacing the missing values of reviews_per_month  with the mean values of thet column
df['reviews_per_month'].fillna(df['reviews_per_month'].mean(), inplace=True)

# Replacing the missing values of name with the empty string
df['name'].fillna('', inplace=True)
df.isnull().sum()

id                                0
name                              0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64